body{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: 0px;

    background: #000000;
}

.fondo_resultados{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo2{
    position: absolute;
    width: 694px;
    height: 620px;
    left: -120px;
    top: 20px;
}

.fecha{
    position: absolute;
    width: 300px;
    height: 539px;
    left: 50px;
    top: 50px;

    font-family: 'Moonrising';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 180px;

    color: #DAD9D9;

    opacity: 0.8;
}

.tabla{
    position: absolute;
    width: 900px;
    height: 400px;
    left: 520px;
    top: 60px;
    background-color: black;
    opacity: 0.7;
}

.bajar_tabla{
    position: absolute;
    width: 40px;
    height: 40px;
    left: -3px;
    top: -2px;
}

.btn_mostrar{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 450px;
    top: 60px;
    background-color: #505050;
    border-color: #505050;
}

.btn_volver{
    position: absolute;
    left: 48.61%;
    right: 49.07%;
    top: 89.53%;
    bottom: 6.89%;
    opacity: 1;
    background-color: black;
    border-color: #000000;
}
.volver_principal{
    position: absolute;
    left: -8%;
    top: -10%;
    bottom: 6.89%;
}

tbody {
    font-size: 95%;
    font-style: italic;
}  

thead {
    font-weight: bold;
}