body{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: 0px;

    background: #000000;
}
.fondo1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -4px;
    top: -791px;

    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -120px;
}

.vector_nasa{
    position: absolute;
    width: 100px;
    height: 140px;
    left: 40px;
    top: -12px;
}

.logo_nasa_vector{
    position: absolute;
    width: 78px;
    height: 72px;
    left: 55px;
    top: 10px;
}

.letter_menu{
    position: absolute;
    width: 128px;
    height: 53px;
    left: 1305px;
    top: -2%;

    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;

    color: #EFEFEF;
}

.vector_menu{
    position: absolute;
    left: 94.91%;
    right: 2.78%;
    top: 3.76%;
    bottom: 92.84%;
}

.buscador{
    position: absolute;
    width: 100%;
    height: 40%;
    left: -4px;
    top: 60%;

    background: rgba(155, 155, 155, 0.6);
    opacity: 0.8;
}

.texto_buscador{
    position: absolute;
    width: 712px;
    height: 56px;
    left: 430px;
    top: 80px;

    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
}

.busca{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 120px;
    top: 136px;
    text-align: center;
    font-size: 40px;

    background: rgba(239, 239, 239, 0.75);
    border-color: rgba(239, 239, 239, 0.75);
}

.vector_busca{
    position: absolute;
    width: 44px;
    height: 44px;
    left: -2px;
    top: -2px;
}

.btn_buscar{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 1295px;
    top: 137px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50%;

}

.num1{
    position: absolute;
    width: 325px;
    height: 110px;
    left: 52px;
    top: 0px;

    color: black;
    opacity: 0.3;
}

.num2{
    position: absolute;
    width: 325px;
    height: 90px;
    left: 157px;
    top: 105px;

    color: #000000;

    opacity: 0.3;
}

.num3{
    position: absolute;
    width: 325px;
    height: 110px;
    left: 265px;
    top: 196px;

    color: #000000;

    opacity: 0.3;
}

table {
    border: 1px black solid;
}